
singularity {
    enabled = true
    autoMounts = true
}

process {
  withLabel: 'jloh'     { container = 'jloh.v0.1' }
  withLabel: 'bcftools' { container = 'bcftools.1.19' }
  withLabel: 'samtools' { container = 'samtools.1.9' }
}

params {
  // Default params
  // Extract
  tumour_only  = false
  min_snps     = 2
  min_snps_het = 4
  min_snps_kbp = "2,5"

  // Plot
  one_ref      = true
  by_sample    = true
  contrast     = "max"
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      cohorts     = "input/cohorts_info.csv"
		  fasta       = "input/S_para.chrXII.fa"
    }
  }

  test_tumour_only {
    params {
      cohorts     = "input/cohorts_info.csv"
		  fasta       = "input/S_para.chrXII.fa"
      tumour_only = true
    }
  }
}
